.button{
    -fx-background-color:black;
    -fx-background-radius:8px;
    -fx-text-fill:#fff;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-cursor:hand;
}

.button:hover{
    -fx-background-color:#F34C31;
}

.button:pressed {
    -fx-background-color: #F34C31;
}
